.movies__section {
  padding: 65px 70px 80px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .movies__section {
    padding: 65px 30px 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies__section {
    padding: 50px 10px 80px;
  }
}

@media screen and (max-width: 480px) {
  .movies__section {
    padding-top: 40px;
  }
}

.movies__list {
  width: 100%;
  margin: 0;
  padding: 0 0 30px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  column-gap: 20px;
  row-gap: 31px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 768px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 30px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 480px) {
  .movies__list {
    grid-template-columns: 1fr;
    row-gap: 19px;
  }
}

.movies__more {
  margin: 50px auto 0;
  padding: 0;
  display: block;
  width: 320px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #424242;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
}

@media screen and (max-width: 767px) {
  .movies__more {
    width: 240px;
    height: 36px;
  }
}

.movies__more_hidden {
  display: none;
}

.movies__more:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movies__error {
  margin: auto;
}

.movies__error_hidden {
  display: none;
}
