.movie-card {
  width: 100%;
  background-color: #222222;
}

.movie-card_removed {
  display: none;
}

.movie-card__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1023px) {
  .movie-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movie-card__image {
    height: 168px;
  }
}

.movie-card__block {
  padding: 0 12px 0 14px;
  min-height: 67px;
  display: flex;
  justify-content: space-between;
}

.movie-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 206px;
}

@media screen and (max-width: 1023px) {
  .movie-card__text {
    max-width: 275px;
  }
}

@media screen and (max-width: 767px) {
  .movie-card__text {
    max-width: 235px;
  }
}

.movie-card__name {
  padding-bottom: 10px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
}

.movie-card__duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  color: #8b8b8b;
}

.movie-card__button {
  padding: 0;
  margin-top: 14px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/movie-card__button_off.svg);
  background-position: -6px -3px;
  background-repeat: no-repeat;
  align-self: flex-start;
}

.movie-card__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movie-card__button_on {
  background-image: url(../../images/movie-card__button_on.svg);
}

.movie-card__button_delete {
  background-position: center;
  background-image: url(../../images/movie-card__button_delete.svg);
}
