.form__error {
  display: block;
  width: 100%;
  min-height: 14px;
  margin-top: 117px;
  text-align: center;
  color: #ff004c;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.18;
  visibility: hidden;
}

.form__error_register {
  margin-top: 37px;
}

@media screen and (max-width: 480px) {
  .form__error_register {
    margin-top: 125px;
  }
}

.form__error_login {
  margin-top: 125px;
}

@media screen and (max-width: 480px) {
  .form__error_login {
    margin-top: 213px;
  }
}

.form__error_active {
  visibility: visible;
}

.form__button {
  padding: 0;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  width: 100%;
  min-height: 45px;
  background-color: #4285f4;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.form__button_profile {
  display: block;
  background-color: transparent;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.231;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .form__button_profile {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .form__button_profile {
    margin-top: 200px;
  }
}

.form__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form__button_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.form__button_disabled:hover {
  opacity: 1;
}
