.page {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #202020;
  color: #ffffff;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
