.checkbox {
  display: flex;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .checkbox {
    align-self: flex-end;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 480px) {
  .checkbox {
    align-self: center;
  }
}

.checkbox__container {
  position: relative;
}

.checkbox__button {
  visibility: hidden;
  width: 36px;
  height: 20px;
}

.checkbox__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #ebebeb;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2px;
  transition: all 0.7s;
}

.checkbox__area_on {
  background-color: #2be080;
  justify-content: flex-end;
}

.checkbox__area:hover {
  cursor: pointer;
}

.checkbox__switcher {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px 0px #00000014;
}

.checkbox__switcher_on {
  background-color: #ffffff;
}

.checkbox__caption {
  margin-left: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.385;
}

@media screen and (max-width: 768px) {
  .checkbox__caption {
    margin: 0;
    margin-right: 14px;
  }
}

@media screen and (max-width: 480px) {
  .checkbox__caption {
    margin-right: 8px;
  }
}
