.authorize__page_register {
  margin: 0 auto;
  padding-top: 70px;
  max-width: 396px;
}

@media screen and (max-width: 768px) {
  .authorize__page_register {
    padding-top: 232px;
  }
}

@media screen and (max-width: 480px) {
  .authorize__page_register {
    padding-top: 56px;
    max-width: 260px;
  }
}

.authorize__page_profile {
  margin: 0 auto;
  padding-top: 74px;
  max-width: 410px;
}

@media screen and (max-width: 768px) {
  .authorize__page_profile {
    padding-top: 236px;
  }
}

@media screen and (max-width: 480px) {
  .authorize__page_profile {
    padding-top: 70px;
    max-width: 260px;
  }
}

.authorize__link_home {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../../images/header__logo.svg);
}

@media screen and (max-width: 525px) {
  .authorize__link_home {
    margin: auto;
  }
}

.authorize__link_home:hover {
  opacity: 0.7;
  cursor: pointer;
}

.authorize__title {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.208;
}

@media screen and (max-width: 480px) {
  .authorize__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

.authorize__title_profile {
  margin: 0 0 106px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .authorize__title_profile {
    margin-bottom: 95px;
  }
}

@media screen and (max-width: 480px) {
  .authorize__title_profile {
    margin-bottom: 79px;
  }
}

.authorize__text {
  margin: 16px 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.214;
}

@media screen and (max-width: 480px) {
  .authorize__text {
    font-size: 12px;
  }
}

.authorize__link {
  text-decoration: none;
  color: #4285f4;
}

.authorize__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.authorize__link_profile {
  color: #ee3465;
}
